#users {
    width: 95%;
  }
.app{
    margin-left: 17%;
  }
table th, td  {
    border: 2px solid;
    padding: 40px;
    margin-left: 10%;
    border-collapse: collapse;
  }
  td{
    color: #444444;
    border: 1px solid rgb(22, 21, 21);
    text-align: left;
    padding: 10px;
    font-size: 15px;
  }
  .del{
    margin-left: 87%;
    width: 60px;
    height: 30px;
    margin-top: 3%;
    border-radius: 20px;
    border: none;
    color: white;
    background-color:#05277C;
  }
  .add{
    margin-left:87%;
    width: 60px;
    margin-top: 6%;
    height: 30px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color:#05277C;
  }
  table {
    border-collapse: collapse;
    /* height: 40px; */
    margin-right: 15%;
    margin-top: 2%;
    /* margin-top: -45%; */
  }
.head{
  margin-top: -10%;
  /* /* margin-top: -45%; */
  }